@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

    /* Hide scrollbar background */
    ::-webkit-scrollbar {
        width: 10px;
        /* Width of the scrollbar */
    }

    ::-webkit-scrollbar-track {
        background: transparent;
        /* Transparent background */
    }

    /* Optionally, customize the scrollbar thumb */
    ::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.5);
        /* Change scrollbar thumb color */
        border-radius: 5px;
        /* Rounded corners */
    }

    input,
    textarea,
    select {
        background-color: #edd2f1;
    }
}

/* Input Fields */

/* Background Image */

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}